body{
	background-image: url("result.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	background-position: right top ;
}

.content{
	width: 500px;
	height: 360px;
	text-align: center; 
	margin: 0 auto;
	background-color:lightgray;
	margin-top: 45px;
}
.btn-send{
	padding: 15px 25px;
	border: none;
	background-color: #27ae60;
	color: #fff;
}
h1{
    color: rgb(246, 250, 250);
}
